* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-y: auto;
    background-size: cover;
    background: linear-gradient(#333131b3, #383636b3), url('../img/italian.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    position: relative;
}

.site-title {
    font-family: 'Merriweather', serif;
}
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
}

#home-wrapper {
    display: grid;
    place-content: center;
    place-items: center;
    margin-top: 150px;
}

@media (max-width: 768px) {
    .bottom-nav {
        display: block;
    }
    #content-container {
        margin-bottom: 40px;
    }

    #explore-btn {
        display: none;
    }

    #home-wrapper {
        display: grid;
        place-content: center;
        place-items: center;
        margin-top: 50px;
    }
}

.activity-indicator {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.activity-indicator div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: activity-indicator 0.95s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.activity-indicator div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.activity-indicator div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.activity-indicator div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes activity-indicator {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

#searchbar-container {
    max-width: 500px;
    margin: auto;
    z-index: 10000;
}
#recipe-container {
    position: relative;
}

#recipe-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-image {
    filter: brightness(50%);
    transition: all 0.5s ease-in-out;
}

.recipe-image:hover {
    filter: brightness(80%);
}

.recipe-image:hover ~ #recipe-text {
    color: black;
}

.search-input {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    color: #fff;
}

.search-input:hover,
.search-input:active {
    padding: 15px;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: grid;
    place-content: center;
    place-items: center;
    z-index: 100000000;
}

.splash img {
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1.2);
    }
}

.recipie-nav a {
    text-decoration: none;
}

.active {
    color: red !important;
}
